.post-content {
    max-width: $grid--normal;
    margin-inline: auto;
    padding-top: $padding--large;

    & > h2 {
        margin-bottom: $margin--medium;
        font-size: $font-size--xx-large;
        font-weight: $font-weight--bold;
    }

    & > h3 {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
        font-weight: $font-weight--regular;
        line-height: $line-height--normal;
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;
    }

    & > ol > li::marker {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
    }

    & .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
        max-width: $grid--normal;
    }

    & .is-layout-constrained >.alignwide, .alignwide{
        max-width: $grid--wide;
        width: 150%;
		padding-inline: $padding--medium;

        @include mobile{
            width: 100%;
            padding-inline: 0;
        }
    }

    .alignwide{
        @include desktop{
            margin-inline-start: -25%;
            padding-inline: 0;
        }
    }

    .alignfull{
        >figcaption{
            padding-inline: $padding--medium;
        }
    }
}

.home{
    background-color: $color--primary-dark;
    // > #app{
    //     background: url('#{$path--assets}/images/home/bg-home-red.svg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
    .post-content{
        padding-top: 0;
        p{
            @include mobile{
                margin-block-start: $margin--medium;
            }
        }
    }
}

.page-cpi{
    .post-content{
        margin-inline: initial;
        max-width: size(1200);
        margin-inline: auto;
        p:nth-last-of-type(1){
            font-size: size(20) !important;
        }
    }
    .latest-horizontal-posts-block{
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
        margin-bottom: 0;
        &__heading{
            color: $color--primary-pure;
            font-size: size(24);
            text-transform: uppercase;
            p{
                color: $color--low-pure;
                font-size: size(16);
                text-transform: none;
                font-family: 'Sofia San', sans-serif;
                max-width: size(270);
            }
        }
        .post-title{
            font-size: size(16) !important;
        }
    }
    .latest-horizontal-posts-block.model-post .post-content{
        height: auto;
        background: none;
        bottom: 1rem;
    }
    .latest-horizontal-posts-block__footer{
        padding-left: 0 !important;
    }
    .latest-horizontal-posts-block.model-post .latest-horizontal-posts-block__arrows{
        width: 90% !important;
        padding-left: 0 !important;
    }
    .sharedaddy{
        display: none;
    }
}

.page-linha-do-tempo{
    .post-content {
        margin-inline: initial;
        max-width: size(1180);
        margin-inline: auto;
        .sharedaddy,
        .timeline-year,
        .ctl-navigation-items,
        .ctl-arrow,
        .story-date{
            display: none !important;
        }
        .ctl-start, .ctl-end{
            background-color: transparent !important;
        }
        .ctl-timeline{
            &::before{
                content: url('#{$path--assets}/images/rachadura-time-line.png') !important;
                border: none !important;
                position: relative;
                left: calc(45% - var(--ctw-line-width) / 2) !important;
                background-color: transparent !important;
            }
        }
        .ctl-story{
            width: 100% !important;
            margin-bottom: 3rem !important;
            .ctl-content{
                justify-content: space-between;
                .ctl-media{
                    max-width: size(430) !important;
                    width: 100% !important;
                }
                .ctl-description{
                    max-width: size(500) !important;
                    width: 100% !important;
                }
            }
            .ctl-icondot{
                left: 47% !important;
                top: 50% !important;
            }
        }
        .ctl-title{
            background: transparent !important;
        }


        // filhos ímpares
        // .ctl-timeline > .ctl-story:nth-of-type(odd) {
        //     background: #f0f0f0;
        // }

        // filhos pares
        .ctl-timeline > .ctl-story:nth-of-type(even) {

            .ctl-content{
                flex-direction: row-reverse;
                .ctl-description{
                    text-align: right !important;
                }
            }
        }
    }
}

.single-biblioteca{
    &::before{
        display: none;
    }
    #app{
        .biblioteca-content{
            display: flex;
            gap: 2rem;
            max-width: size(1170);
            margin-left: auto;
            margin-right: auto;
            padding-top: 1rem;
            padding-bottom: 2rem;
            @include mobile{
                flex-direction: column;
                gap: 0;
                padding-bottom: 0;
                margin-bottom: 0    ;
            }
            .post-content{
                padding-left: 0;
                padding-right: 0;
                @include mobile{
                    padding: 0 .5rem;
                }
                .wp-block-post-title{
                    color: $color--primary-pure;
                    font-size: size(20);
                    font-style: normal;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 2.2rem 0 1.5rem;
                    padding-left: .8rem;

                    @media(min-width: 783px){
                        display: none;
                    }
                }
                .image-gallery.hacklab-block.fullscreen{
                    position: relative;
                    max-width: size(1170) !important;
                    max-height: 540px !important;
                    padding: 0;
                    box-shadow: none !important;
                    @include mobile{
                        max-width: 100% !important;
                    }
                    .image-gallery-wrapper{
                        justify-content: flex-start;
                    }
                    .gallery-grid{
                        .sss{
                            .gallery-item-container{
                                height: auto !important;
                                .image-meta{
                                    background-color: rgba(25, 30, 35, .8) !important;
                                    color: $color--high-pure !important;
                                    padding-bottom: 1rem !important;
                                }
                            }
                            .gallery-item{
                                height: 100% !important;
                            }
                            .sssnext{
                                background: url('#{$path--assets}/images/arrow-right.svg') no-repeat;
                                height: 100%;
                                margin: 0;
                                position: absolute;
                                top: 45%;
                                right: -1%;
                            }
                            .sssprev{
                                background: url('#{$path--assets}/images/arrow-right.svg') no-repeat;
                                transform: rotate(180deg);height: 100%;
                                margin: 0;
                                position: absolute;
                                top: -45% !important;
                                left: -1%;
                            }
                        }
                    }
                    .dots-wrapper{
                        display: none;
                    }
                }
            }
        }
        .post-header{
            @include mobile{
                padding-top: 1rem;

            }
            hr{
                margin-top: 1rem;
                border-top: 1px solid #000;
                @media(min-width: 783px){
                    display: none;
                }
            }
        }
        .post-header__title{
            color: $color--primary-pure;
            @media(max-width: 782px){
                display: none;
            }
        }
        .post-header__midia-label{
            font-size: size(20);
            font-weight: $font-weight--bold;
        }
        .post-header__excerpt{
            margin-bottom: 0;
        }
        .post-header__author{
            border-top: none;
            .post-header__published-container{
                @include mobile{
                    margin-left: 0 !important;
                    padding-top: 1rem !important;
                }
                .post-header__author-image{
                    width: 84px !important;
                    height: 84px !important;
                }
                .post-header__author-name{

                    @include mobile{
                        font-size: size(24) !important;
                    }

                    a{
                        text-decoration: none;
                        @include mobile{
                            font-size: size(24) !important;
                        }
                    }
                }
            }
            .post-header__date{
                @include mobile{
                    font-size: size(24) !important;
                }
            }
        }

        .share-links-post-content{
            margin-top: 2rem;
            display: flex;
            gap: 1rem;

            .addtoany_shortcode{
                @include mobile{
                    margin: 0 auto 2rem;
                }
                a{
                    display: flex;
                    gap: 1rem;
                    text-decoration: none;
                    align-items: center;
                    font-size: size(20);
                    text-transform: uppercase;
                    &::after{
                        content: url('#{$path--assets}/images/btn-share.png');
                        position: relative;
                        top: size(4);
                    }
                    span{
                        display: none !important;
                    }
                    @include mobile{
                        justify-content: center;
                        display: flex;
                        flex-direction: row-reverse;
                        width: fit-content;
                        background-color: $color--secondary-dark;
                        color: $color--high-pure;
                        gap: 1rem;
                        font-size: size(20);
                        text-transform: uppercase;
                        border-radius: 0;
                        font-weight: $font-weight--bold;
                        padding: size(4) size(40);

                        clip-path: polygon(
                            0 0,
                            100% 0,
                            calc(100% - 5px) 100%,
                            5px 100%
                        );
                        &::after{
                            content: url('#{$path--assets}/images/btn-share-white.png');
                            position: relative;
                            top: size(4);
                        }
                    }
                }
            }

        }
    }
}