.post-content {
    max-width: $grid--normal;
    margin-inline: auto;
    padding-top: $padding--large;

    & > h2 {
        margin-bottom: $margin--medium;
        font-size: $font-size--xx-large;
        font-weight: $font-weight--bold;
    }

    & > h3 {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
        font-weight: $font-weight--regular;
        line-height: $line-height--normal;
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;
    }

    & > ol > li::marker {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
    }

    & .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
        max-width: $grid--normal;
    }

    & .is-layout-constrained >.alignwide, .alignwide{
        max-width: $grid--wide;
        width: 150%;
		padding-inline: $padding--medium;

        @include mobile{
            width: 100%;
            padding-inline: 0;
        }
    }

    .alignwide{
        @include desktop{
            margin-inline-start: -25%;
            padding-inline: 0;
        }
    }
}

.home{
    background-color: $color--primary-dark;
    > #app{
        background: url('#{$path--assets}/images/home/bg-home.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .post-content{
        padding-top: 0;
        p{
            @include mobile{
                margin-block-start: $margin--medium;
            }
        }
    }
}
