.post-content {
    max-width: $grid--normal;
    margin-inline: auto;
    padding-top: $padding--large;

    & > h2 {
        margin-bottom: $margin--medium;
        font-size: $font-size--xx-large;
        font-weight: $font-weight--bold;
    }

    & > h3 {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
        font-weight: $font-weight--regular;
        line-height: $line-height--normal;
        margin-bottom: $margin--medium;
        margin-top: $margin--medium;
    }

    & > ol > li::marker {
        color: $color--primary-dark;
        font-family: $font-family--heading;
        font-size: $font-size--x-large;
    }

    & .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){
        max-width: $grid--normal;
    }

    & .is-layout-constrained >.alignwide, .alignwide{
        max-width: $grid--wide;
        width: 150%;
		padding-inline: $padding--medium;

        @include mobile{
            width: 100%;
            padding-inline: 0;
        }
    }

    .alignwide{
        @include desktop{
            margin-inline-start: -25%;
            padding-inline: 0;
        }
    }

    .alignfull{
        >figcaption{
            padding-inline: $padding--medium;
        }
    }
}

.home{
    background-color: $color--primary-dark;
    // > #app{
    //     background: url('#{$path--assets}/images/home/bg-home-red.svg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: cover;
    // }
    .post-content{
        padding-top: 0;
        p{
            @include mobile{
                margin-block-start: $margin--medium;
            }
        }
    }
}

.page-cpi{
    .post-content{
        margin-inline: initial;
        max-width: size(1200);
        margin-inline: auto;
        p:nth-last-of-type(1){
            font-size: size(20) !important;
        }
    }
    .latest-horizontal-posts-block{
        margin-left: auto;
        margin-right: auto;
        padding-top: 3rem;
        margin-bottom: 0;
        &__heading{
            color: $color--primary-pure;
            font-size: size(24);
            text-transform: uppercase;
            p{
                color: $color--low-pure;
                font-size: size(16);
                text-transform: none;
                font-family: 'Sofia San', sans-serif;
                max-width: size(270);
            }
        }
        .post-title{
            font-size: size(16) !important;
        }
    }
    .latest-horizontal-posts-block.model-post .post-content{
        height: auto;
        background: none;
        bottom: 1rem;
    }
    .latest-horizontal-posts-block__footer{
        padding-left: 0 !important;
    }
    .latest-horizontal-posts-block.model-post .latest-horizontal-posts-block__arrows{
        width: 90% !important;
        padding-left: 0 !important;
    }
    .sharedaddy{
        display: none;
    }
}
