.site-by-hacklab {
    background-color: #F5F5F5;
    color: #222;
    display: flex;
    justify-content: flex-end;
    gap: $gap--x-small;
    height: 34px;
    align-items: center;
    align-self: flex-end;
    font-size: $font-size--medium;

    @include mobile{
        align-self: flex-start;
    }

    span, a{
        font-family: $font-family--primary;
    }

    a {
        display: block;
        max-width: fit-content;
        text-align: end;
        text-decoration: none;
        font-family: 'Roboto Slab';
        font-weight: $font-weight--bold;
        padding-bottom: $padding--x-small;

        b {
            color: #CA0C25;
        }
    }
}
