@import "../../shared/scss/mixins";

.stories-mosaic-block {
    min-width: 100vw;
    width: fit-content;
    display: flex;
    gap: .5rem;
    margin-inline-start: calc(50% - 50vw) !important;
    min-height: fit-content;
    // max-height: 500px;
    overflow-y: hidden !important;
    overflow-x: auto;
    cursor: default;
    scrollbar-width: none;

    &__heading{
        min-width: 320px;
        @media (max-width: 1550px) {
            min-width: 8%;
        }
        @media (max-width: 1360px) {
            min-width: 4%;
        }
    }

    .inner{
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax( 11vw, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
        grid-auto-rows: 200px;
        margin-bottom: 30px;
        gap: .5rem;
        min-width:  100vw;
        max-height: 100%;
        .grid-item{
            display: inline-block;
            height: 100%;
            margin-bottom: 16px;
        }
        >:nth-child(2){
            grid-column-start: 2;
            grid-column-end: 4;
        }
        >:nth-child(3){
            grid-column-start: 4;
            grid-column-end: 6;
        }

        >:nth-child(2), >:nth-child(4){
            grid-row-end: span 2;
        }
        >:nth-child(10){
            grid-column-start: 7;
            grid-column-end: 9;
        }

        &--more{
            min-width: unset;
            max-width: fit-content;
            margin-right: 1rem;
        }
    }

    .post {
        height: 100%;
        overflow: hidden !important;
        &-content {
            display: none;
        }
        .post-thumbnail{
            height: 100%;
            img{
                height: 100%;
                min-width: 100%;
                object-fit: cover;
            }
        }
    }

}

// Estilo do modal

#stories-modal{
    display: none;
    inset: 0;
    transition: all .4s ease-in-out;
    position: fixed;
    z-index: 100;

    &.open{
        display: flex;
    }
}

.story-preview{
    width: calc(50% - max(40vh,15vw));
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 101;

    &.previous-story{
        left: 0;
    }
    &.next-story{
        right: 0;
    }

    img{
        object-fit: cover;
        opacity: 1;
        height: 40vh;
        width: auto;
        aspect-ratio: 1 / 2;
    }


}

.stories-iframe{
    transition: all .4s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
    border: none;
    display: none;
    &.open{
        display: flex;
    }

}

.close-modal{
    display: none;
    transition: all .4s ease-in-out;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 105;
    width: 32px;
    height: 32px;
    background-color: transparent;
    svg{
        fill: white;
        rect:nth-of-type(1) {
            transform: rotate(45deg) translateX(4px) translateY(-1px);
        }
        rect:nth-of-type(2) {
            transform: rotate(-45deg) translateX(-9px) translateY(-1px);
        }
    }
    &.open{
        display: block;
    }
}

