@import '../2-tools/1.mixins';

html {
    scroll-behavior: smooth;

    body {
        overflow-x: hidden;
        overflow-x: clip; // clip não cria scroll container, preservando position: sticky

        @include mobile {
            margin-top: 0;
        }

        .logged-in & {
            top: 110px;

            &.scrolled {
                top: 32px;
            }
        }
    }
}
