.archive-header {
    &__background {
        background-color: $color--primary-pure;
        position: absolute;
        left: 0;
        width: 100%;
        height: 232px;
        z-index: 0;

        @media (max-width: 1164px) {
            height: 271px;
        }

        @include mobile {
            height: 318px;
        }
    }

    &__content-overlay {
        margin-bottom: 55px;
        position: relative;
        z-index: 1;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;
        height: 232px;
        padding-top: 56px;
        padding-bottom: 52px;

        @media (max-width: 1164px) {
            padding-top: 40px;
        }
    }

    &__title-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        gap: 100px;
        width: 100%;

        @media (max-width: 1164px) {
            gap: 10px;
            justify-content: center;
        }

        @include mobile {
            gap: 0;
        }
    }

    &__title {
        h1 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-family: $font-family--heading;
            font-size: $font-size--xx-large;
            font-weight: $font-weight--bold;
            color: $color--high-pure;
            text-transform: uppercase;
            margin-bottom: $margin--large;

            @include mobile {
                font-size: $font-size--large;
                line-height: 145%;
            }

            .exclamation-icon {
                margin-right: 10px;
            }

            .search-page-results-count {
                margin-left: 24px;
                font-family: $font-family--secondary;
                font-size: $font-size--large;
                font-weight: $font-weight--semibold;
                line-height: 120.24%;
                letter-spacing: 0.2px;

                @include mobile {
                    margin-left: 33px;
                }
            }
        }

        .search-form-wrapper-on-archive {
            position: relative;
            display: flex;
            width: 100%;
            max-width: 570px;
            margin-bottom: $margin--large;

            @include mobile {
                margin-bottom: $margin--medium;
            }

            .search-submit-icon {
                position: absolute;
                top: 47%;
                right: 2%;
                height: 100%;
                width: 45px;
                transform: translateY(-50%);
                background-color: transparent;
            }
        }

        .search-form {
            width: 100%;

            .search-field {
                width: 100%;
                height: 45px;
                border-radius: 20px;
                border: none;
                color: $color--low-light;
                background-color: #D9D9D9;
                font-size: $font-size--medium;
                font-weight: $font-weight--regular;
                line-height: 160%;
                padding-left: 20px;
                padding-right: 50px;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance: none;
                    display: none;
                }
            }
        }
    }

    &__infos{
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include mobile{
            margin-top: 1.2rem    ;
            margin-bottom: -4.5rem;
        }
        .filter-posts{
            .filter-buttons{
                gap: 1rem;
                display: flex;
                flex-wrap: wrap;
                @include mobile{
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    white-space: nowrap;
                }
                a{
                    background-color: $color--secondary-dark;
                    border: unset;
                    border-radius: unset;
                    color: $color--high-pure;
                    font-family: $font-family--heading;
                    font-size: $font-size--small;
                    font-style: normal;
                    font-weight: $font-weight--bold;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                    padding: .5rem 1.12rem;
                }
            }
        }
    }

    &__title *,
    &__excerpt *,
    &__infos *,
    &__results *,
    &__alert * {
        // margin-bottom: $margin--large;
    }

}

.archive-title{
    padding-top: 4rem;
    padding-bottom: 8rem;

    color: $color--high-pure;
    h1{
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        text-transform: uppercase;
        &::before{
            content: url('#{$path--assets}/images/exclamacao.png');
            padding-top: 3px;
        }
        @include mobile{
            font-size: size(20);
        }

    }
}