.archive-header {
    &__background {
        background-color: $color--primary-pure;
        position: absolute;
        left: 0;
        width: 100%;
        height: 232px;
        z-index: 0;

        @media (max-width: 1164px) {
            height: 271px;
        }

        @include mobile {
            height: 318px;
        }
    }

    &__content-overlay {
        margin-bottom: 55px;
        position: relative;
        z-index: 1;
        background: transparent;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        gap: 20px;
        height: 232px;
        padding-top: 56px;
        padding-bottom: 52px;

        @media (max-width: 1164px) {
            padding-top: 40px;
        }
    }

    &__title-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 1164px) {
            gap: 10px;
            justify-content: center;
        }

        @include mobile {
            gap: 0;
        }
    }

    &__title {
        h1 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-family: $font-family--heading;
            font-size: $font-size--xx-large;
            font-weight: $font-weight--bold;
            color: $color--high-pure;
            text-transform: uppercase;
            margin-bottom: $margin--large;

            @include mobile {
                font-size: $font-size--large;
                line-height: 145%;
            }

            .exclamation-icon {
                margin-right: 10px;
            }

            .search-page-results-count {
                margin-left: 24px;
                font-family: $font-family--secondary;
                font-size: $font-size--large;
                font-weight: $font-weight--semibold;
                line-height: 120.24%;
                letter-spacing: 0.2px;

                @include mobile {
                    margin-left: 33px;
                }
            }
        }

        .search-form-wrapper-on-archive {
            position: relative;
            display: flex;
            width: 100%;
            max-width: 570px;
            margin-bottom: $margin--large;

            @include mobile {
                margin-bottom: $margin--medium;
            }

            .search-submit-icon {
                position: absolute;
                top: 47%;
                right: 2%;
                height: 100%;
                width: 45px;
                transform: translateY(-50%);
                background-color: transparent;
            }
        }

        .search-form {
            width: 100%;

            .search-field {
                width: 100%;
                height: 45px;
                border-radius: 20px;
                border: none;
                color: $color--low-light;
                background-color: #D9D9D9;
                font-size: $font-size--medium;
                font-weight: $font-weight--regular;
                line-height: 160%;
                padding-left: 20px;
                padding-right: 50px;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance: none;
                    display: none;
                }
            }
        }
    }

    &__infos{
        margin-top: 2rem;
        margin-bottom: 2rem;
        @include mobile{
            margin-top: 1.2rem    ;
            margin-bottom: -4.5rem;
        }
        .filter-posts{
            .filter-buttons{
                gap: 1rem;
                display: flex;
                flex-wrap: wrap;
                @include mobile{
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    white-space: nowrap;
                }
                a{
                    background-color: $color--secondary-dark;
                    border: unset;
                    border-radius: unset;
                    color: $color--high-pure;
                    font-family: $font-family--heading;
                    font-size: $font-size--small;
                    font-style: normal;
                    font-weight: $font-weight--bold;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;
                    text-decoration: none;
                    padding: .5rem 1.12rem;
                }
            }
        }
    }

    &__title *,
    &__excerpt *,
    &__infos *,
    &__results *,
    &__alert * {
        // margin-bottom: $margin--large;
    }

}

.archive-header-bibliioteca{
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: $color--primary-pure;
    color: $color--high-pure;
    @include mobile{
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }

    &__search-filter{
        display: flex;
        justify-content: space-between;
    }

    h1{
        font-size: 2rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        text-transform: uppercase;
        color: $color--high-pure;
        &::before{
            content: url('#{$path--assets}/images/exclamacao.png');
            padding-top: size(3);
        }
        @include mobile{
            font-size: size(20) !important;
            margin-bottom: 1.5rem;
        }

    }
    &__search-filter{
        margin-bottom: 2rem;
        @include mobile{
            flex-direction: column;
        }


    }
    .archive-search{
        form{
            display: flex;
            align-items: center;
            @include mobile{
                justify-content: center;
            }
            &:focus-visible{
                outline: none !important;
            }
            input{
                width: size(570);
                border-radius: $border-radius--round 0 0 $border-radius--round;
                padding: .65rem 1rem .65rem 1.5rem;
                border: none;
                background-color: #d9d9d9;
                &:focus-visible{
                    outline: none !important;
                }
                @include tablet{
                    width: size(328);
                }
            }
            button{
                border-radius: 0 $border-radius--round $border-radius--round 0;
                background-color: #d9d9d9;
                padding: 0rem 1rem;
                font-size: size(30);
            }
        }
    }
    .archive-filters__selects{
        display: flex;
        gap: $gap--large;
        @include mobile{
            flex-direction: column;
        }
        details{
            max-width: size(215);
            width: 100%;
            @include mobile{
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
            }
            summary{
                align-items: center;
                display: flex;
                gap: $gap--small;
                background-color: $color--high-pure;
                color: $color--low-pure;
                text-transform: uppercase;
                height: size(45);
                justify-content: space-between;
                padding: 0 $padding--medium;
                .filter-title{
                    align-items: center;
                    display: flex;
                    gap: $gap--small;
                }
                &::marker{
                    display: none !important;

                }

            }

            ul{
                padding: $padding--small 0;
                li{
                    list-style: none;
                    text-transform: uppercase;
                    padding: 0;
                    a{
                        text-decoration: none;
                        display: flex;
                        width: 100%;
                        border-bottom: 1px solid $color--high-pure;
                        padding: $padding--x-small $padding--large;
                    }
                }
            }
        }
        details[open]{
            background-color: $color--low-pure;
            summary{
                .filter-title{
                    svg{
                        transform: none;
                    }
                }
                svg{
                    transform: rotate(180deg);
                }
            }
            li{
                a.active{
                    background-color: #d9d9d9;
                    border-bottom: none;
                    color: $color--low-pure;
                }

            }
        }
        .filter-ano{
            ul{
                li:last-child{
                    display: none;
                }
            }
        }

    }
    .archive-filters__checkbox{
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        label{
            text-transform: uppercase;
            font-family: "Sofia Sans", sans-serif;
            display: flex;
            align-items: center;
            gap: size(3);

            @include tablet{
                font-size: size(16);
                justify-content: center;

            }
            input{
                position: relative;
                top: size(-2);
            }
        }

    }
    .archive-active-filters{

        @include tablet{
            display: flex;
            flex-direction: column;
        }
        .actve-terms{
            display: flex;
            gap: 1rem;
            margin: 0;
            flex-wrap: wrap;
            @include tablet{
                order: 1;
            }
        }
        .active-filter{
            background-color: #fff;
            color: #630F05;
            font-weight: 700;
            font-size: size(15);
            text-transform: uppercase;
            padding: size(2) size(10);
            display: flex;
            align-items: center;
            gap: .5rem;
            a{
                text-decoration: none;
            }
        }
        .active-filter.clear-all{
            background-color: $color--primary-pure;
            color: $color--high-pure;
            text-transform: uppercase;
            font-size: size(20);
            text-decoration: underline;
            font-weight: $font-weight--regular;
            padding-left: 0;
            margin-top: 1rem;
            @include tablet{
                order: 2;
                justify-content: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}
