.latest-horizontal-posts-block{
    max-width: $grid--wide !important;

    @include mobile{
        max-width: unset !important;
        width: 100vw !important;
    }
    >.container{
        margin-inline: 0;
        max-width: $grid--wide;
        padding: 0 0 $padding--x-large!important;
    }
    &__dots{
        justify-content: center;
        width: 90%;
        .slick-dots{
            gap: 24px !important;
            margin-left: 0 !important;
            li{
                width: 10px;
                height: 10px;
            }
            .slick-active{
                background-color: $color--secondary-pure !important;
            }
        }

        @include mobile{
            width: 95%;
        }
    }

    &__slides{
        padding-inline: 0 !important;
    }

    &__arrows{
        width: 90% !important;
        .slick-arrow{
            background-color: $color--high-light !important;
            opacity: 1 !important;
        }
        @include mobile{
            width: 95% !important;
            margin-inline: 0 !important ;
        }
    }

    &__content{
        min-height: unset !important;
        max-height: fit-content;
        flex-basis: 33% !important;
        justify-content: unset !important;
        gap: $gap--large;
    }

    &.model-post{
        @include mobile{
            padding-inline: 0;
            margin-inline-start: calc(50% - 50vw) !important;
        }

        >.container{
            @include mobile{
                display: flex;
                // flex-flow: column-reverse;
            }
        }
        .slick-slider{
            max-width: 75rem;
            margin-inline: auto;
            @include mobile{
                max-width: unset !important;
                width: 90vw;
                margin-inline: 0;

                ::after, ::before{
                    display: none;
                }
            }
        }
        .slick-slide{
            height: 215px;
            margin-inline: 8px !important;
            max-width: 380px !important;
            >div{
                max-height: 100%;
                @include mobile{
                    width: 100%;
                }
            }
            @include mobile{
                max-width: 90% !important;
                height: fit-content;
            }
        }
        .slide{
            margin-bottom: 0 !important;
            margin-top: 0 !important;
            @include mobile{
                width: 93vw !important;
            }
            a{
                text-decoration: none;
            }
        }

        .latest-horizontal-posts-block__arrows, .latest-horizontal-posts-block__dots{
            width: 130% !important;
        }

        .latest-horizontal-posts-block__footer{
            top: -1rem;
        }

        .latest-horizontal-posts-block__content{
            @include mobile{
                padding-inline: 0;
            }
        }

        .post{
            max-width: 380px;
            @include mobile{
                max-width: 100%;
            }
            &-thumbnail{
                margin-inline: 0;
                max-width: 380px;
                aspect-ratio: 16 / 9;
                img{
                    object-fit: cover;
                    border-radius: 0;
                }
                @include mobile{
                    max-width: 95vw;
                    aspect-ratio: 1 / 1;
                }
            }
            &-meta{
                display: none;
            }
            &-title{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 20px;
            }
            &-content{
                position: relative;
                top: -2.5rem;
                left: 1rem;
            }
        }
    }
}

.latest-horizontal-posts-block.model-columnists{
    >.container{

    }
    .latest-horizontal-posts-block__heading{
        color: $color--high-light;
        font-weight: $font-weight--semibold;
        >p{
            font-size: 24px;
            color: $color--high-light;
        }
        @include mobile{
            text-align: left !important;
            width: 95%;
        }
    }

    .latest-horizontal-posts-block__slides{
        .slide{
            margin-bottom: $margin--large !important;
            margin-top: 0 !important;
        }
    }

    .latest-horizontal-posts-block__footer{
        padding-left: $padding--large;
        @include mobile{
            padding-left: 0;
            bottom: -21rem;
            width: 95%;
        }
    }

    .post{
        display: flex;
        gap: $gap--medium;

        @include mobile{
            width: 95% !important;
        }

        &-thumbnail{
            width: 112px;
            height: 112px;
            aspect-ratio: 1 / 1;
            border-radius:  $border-radius--pilled;
            margin-inline: 0 !important;
        }

        &-title{
            color: $color--high-light;
            font-size: 20px;
            text-decoration: none;
            margin-bottom: $margin--small;

            @include mobile{
                text-align: left !important;
            }
        }

        &-content{
            width: 60%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            gap: $gap--small;
            margin-inline: 0;
            p{
                color: $color--high-pure;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
}

