.main-footer {
    background-color: $color--high-pure;
    padding-bottom: 0;
    padding-top: $padding--medium;
    position: relative;
    z-index: 1;

    @include mobile {
        padding-top: $padding--medium;
    }

    p{
        margin-block-start: 0;
    }

    &__widgets {
        max-width: $grid--wide;

        @include mobile {
            padding-inline: $padding--medium;

            .redes{
                .siga-nas-redes, .wp-block-heading{
                    text-align: center;
                    font-size: $font-size--large !important;
                    padding-inline:  0 !important;
                }
                >:last-child{
                    margin-inline: auto;
                    .wp-block-column{
                        flex-basis: 20% !important;
                        .wp-block-image{
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }

        }

        .wp-block-columns{
            margin-bottom: $margin--small;
        }

        .wp-block-heading {
            margin-block: $margin--small;
            line-height: 1.1;
            letter-spacing: -0.6px;
        }

        .widget_nav_menu {
            >div{
                >ul{
                    display: flex;
                    justify-content: space-between;
                    padding-inline: calc($padding--xx-large + $padding--large);
                }

                ul, li{
                    text-transform: uppercase;
                    list-style: none;
                    font-weight: $font-weight--bold;
                }

                a{
                    text-decoration: none;
                }
            }
            @include mobile{
                display: none;
            }
        }

        .redes{
            >:last-child{
                margin-block-start: $margin--medium;
            }
        }

        :last-child{
            p{
                justify-content: center;
                font-family: $font-family--primary;
                gap: $gap--x-small;

                a{
                    font-weight: $font-weight--bold ;
                }
            }
        }

    }

    &__legal{
        background-color: #F5F5F5;
        color: $color--low-light;

        &-row{
            display: flex;
            align-items: center;
            max-width: $grid--wide;
            margin-inline: auto;
            justify-content: space-between;

            @include mobile{
                justify-content: center;
                align-items: flex-start;
                padding: $padding--small $padding--medium;
            }

            >span{
                font-family: $font-family--primary;
                display: flex;
                gap: 2px;
                font-size: 12px;

                p{
                    font-size: 12px;
                    line-height: inherit;
                }

                a{
                    font-weight: $font-weight--semibold;
                }
            }
        }
    }

}