.image-gallery.hacklab-block{
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: $color--high-pure !important;
    @include mobile{
        margin-bottom: 2rem !important;
    }
    .image-gallery-wrapper{
        height: size(410);
        background-color: $color--high-pure;
        @include mobile{
            height: size(306);
        }
        .header{
            .actions{
                align-items: center;
                right: .5rem;
                top: .5rem;
                @include mobile{
                    right: 1rem;
                    top: 1rem;
                }
                button[action=fullscreen]{
                    @include mobile{
                        display: none;
                    }
                }
            }
        }
        .gallery-grid{
            .sss{
                position: relative;
                .gallery-item-container{

                    height: size(400) !important;
                    .gallery-item{
                        height: size(300) !important;
                        @include mobile{
                            height: size(205) !important;
                        }
                    }
                    .image-meta{
                        background-color: transparent !important;
                        color: $color--low-pure !important;
                        text-align: center !important;
                        justify-content: center !important;
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        padding-bottom: .5rem !important;
                        @include mobile{
                            position: absolute !important;
                            top: size(140);
                        }
                        .image-description,
                        i{
                            display: none;
                        }
                        .image-credit{
                            opacity: 1 !important;
                            text-align: center !important;
                            @media(max-width: 500px){
                                display: inherit;
                            }
                            span{
                                font-weight: $font-weight--regular !important;
                            }
                        }
                    }
                }
                .sssnext{
                    background: url('#{$path--assets}/images/arrow-right.svg') no-repeat;
                    height: 100%;
                    margin: 0;
                    position: absolute;
                    top: 33.5%;
                    right: -2%;
                    @include mobile{
                        top: 23.5%;
                        right: -4%;
                    }
                }
                .sssprev{
                    background: url('#{$path--assets}/images/arrow-right.svg') no-repeat;
                    transform: rotate(180deg);height: 100%;
                    margin: 0;
                    position: absolute;
                    top: -58% !important;
                    left: -2%;
                    @include mobile{
                        top: -68% !important;
                        left: -4%;
                    }
                }
            }
        }
        .dots-wrapper{
            bottom: 4rem !important;
            position:  relative !important;
            margin-left: 0.3rem !important;
            @include mobile{
                bottom: 10.5rem !important;
            }
            .dot.active{
                background-color: #22b573 !important;
            }
            .dot{
                background-color: $color--low-light !important;
                opacity: 1 !important;
            }
        }
    }
}

.image-gallery.hacklab-block.grid-display{
    .image-gallery-wrapper{
        background-color: #666 !important;
        padding: 5px 21px 21px !important;
        .gallery-grid{
            margin-top: 3rem;
        }
        .sss{
            .gallery-item-container{
                height: auto !important;
                .gallery-item{
                    @include mobile{
                        height: size(90) !important;
                    }
                }
            }
        }
    }
}

.image-gallery.hacklab-block.grid-display.fullscreen{
    .image-gallery-wrapper{
        .gallery-grid{
            margin-top: 4rem;
        }
    }
    &::before{
        background-color: #666 !important;
    }
}