.ocb-pdf-block{
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.ocb-pdf-btn{
    .wp-block-button__link{
        display: flex;
        width: fit-content;
        background-color: $color--secondary-dark;
        color: $color--high-pure;
        gap: 1rem;
        font-size: size(20);
        text-transform: uppercase;
        border-radius: 0;
        font-weight: $font-weight--bold;
        padding: size(4) size(40);
        font-family: "Jost", sans-serif ;
        margin-top: 2rem;

        clip-path: polygon(
            0 0,
            100% 0,
            calc(100% - 5px) 100%,
            5px 100%
        );

        &::before{
            content: url('#{$path--assets}/images/btn-download-biblioteca.png');
            position: relative;
            top: size(4);
        }
    }
}
