.pagination {
    margin: $margin--large auto;
    width: fit-content;

    &__nav-links {
        display: flex;
        flex-wrap: wrap;
        gap: $gap--medium;
        justify-content: center;
    }

    &__previous,
    &__next {
        background-color: $color--low-pure;
        color: $color--secondary-pure;
        border-radius: $border-radius--round;
        font-weight: $font-weight--bold;
        text-decoration: none;
    }

    &__number {
        font-weight: $font-weight--bold;
        font-size: $font-size--large;
        align-items: center;
        display: flex;
        height: $font-size--xx-large;
        justify-content: center;
        min-width: $font-size--xx-large;
        padding: $padding--small;
        text-decoration: none;

        &--current {
            background-color: $color--secondary-pure;
        }
    }
}

.post-type-archive-map{
    .pagination{
        margin: 0rem auto;
        &__previous,
        &__next {
            background-color: $color--high-pure;
            iconify-icon{
                color: $color--secondary-pure;
                font-size: size(20);
                svg{
                    path{
                        stroke{
                            color: $color--secondary-pure;
                        }
                    }
                }
            }
        }

        &__number {
            color: $color--high-pure;
            &--current {
                background-color: $color--secondary-pure;
            }
        }
    }
}