.posts-grid {
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap--large;
        max-width: 60.625rem;
        margin-bottom: 55px;

        @include mobile {
            margin-top: 6rem;
        }

        .post-card {
            position: relative;

            &__image {
                position: relative;
                height: 230px;
                width: 100%;
                overflow: hidden;

                img {
                    border-radius: unset;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 89%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 11%, rgba(0, 0, 0, 0.85) 100%);
                    pointer-events: none;
                }
            }

            &__category {
                position: absolute;
                bottom: 15px;
                left: 15px;
                z-index: 10;
                display: flex;
                flex-wrap: wrap;
                gap: $gap--x-small;
                list-style: none;
                padding: 0;

                .tag {
                    background-color: $color--secondary-dark;
                    border: unset;
                    border-radius: unset;
                    color: $color--high-pure;
                    font-family: $font-family--heading;
                    font-size: $font-size--small;
                    font-style: normal;
                    font-weight: $font-weight--bold;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            &__content {
                position: static;
            }

            &__title {
                font-family: $font-family--heading;
                font-size: $font-size--large;
                font-weight: $font-weight--bold;
                line-height: normal;
                text-transform: uppercase;
            }

            &__meta {
                display: flex;
                gap: $gap--small;
                align-items: center;
                font-family: $font-family--primary;
                font-weight: $font-weight--bold;
                line-height: 120.24%;
            }

            &__author {
                span {
                    color: $color--low-dark;
                    font-size: $font-size--small;
                }
                color: $color--secondary-dark;
                font-size: $font-size--medium;
                letter-spacing: 0.16px;
            }

            &__date {
                font-size: $font-size--small;
                letter-spacing: 0.14px;
            }

            &__excerpt {
                line-height: 150%;
                letter-spacing: 0.16px;
                font-weight: $font-weight--bold;
            }

            &--horizontal {
                @media (min-width: 769px) {
                    display: grid;
                    grid-template-columns: 371px 1fr;
                    grid-template-rows: auto 1fr;
                    gap: 0 $gap--large;
                    align-items: start;

                    .post-card__image {
                        display: contents;

                        > a {
                            grid-column: 1 / 2;
                            grid-row: 1 / -1;
                            display: block;
                            height: 230px;
                            width: 100%;
                            overflow: hidden;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 89%;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 11%, rgba(0, 0, 0, 0.85) 100%);
                                pointer-events: none;
                                max-width: 371px;
                            }
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .post-card__category {
                        position: static;

                        .tag {
                            background-color: unset;
                            color: $color--secondary-pure;
                            padding: unset;
                        }
                    }
                }

                @include mobile {
                    grid-template-columns: 1fr;
                    gap: $gap--medium;
                }
            }
        }
    }

    &__content:has(.no-post) {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


//Archive de Noticias

.post-grid-latest-posts{
    display:grid;
    grid-template-columns: 2.03fr .97fr;
    gap: $gap--large;
    background-color: $color--high-pure;
    margin-top: -4rem;

    @include mobile{
        grid-template-columns: 1fr;
        margin-top: -2rem;
        gap: 1rem;

    }
    .post-grid-latest-posts__featured{
        .post-card__title{
            @include mobile{
                font-size: size(20);
            }
        }
        img{
            aspect-ratio: 16 / 9.28;
            @include mobile{
                aspect-ratio: 12 / 9;

            }
        }
    }
    .post-grid-latest-posts__others{
        display: flex;
        flex-direction: column;
        gap: $gap--large;
        @include mobile{
            gap: 1rem;
        }
        .post-card__title {
            font-size: $font-size--medium;
        }

        img{
            @include mobile{
                aspect-ratio: 12 / 9;

            }
        }
    }
}

.post-grid-filters{
    display:grid;
    grid-template-columns: 2.03fr .97fr;
    gap: $gap--large;
    @include mobile{
        grid-template-columns: 1fr;
        margin-top: 0rem;

    }
    .posts-grid {
        &__content {
            display:grid;
            grid-template-columns: 1fr 1fr;
            @include mobile{
                gap: 1rem;
                margin-bottom: 0;
            }
            .post-card__content{
                @include mobile{
                    margin-top: .5rem;
                }
            }
            .post-card__image{
                @include mobile{
                height: 100px;

                }
            }
            .post-card__title{
                @include mobile{
                    a{
                        font-size: size(14);
                    }

                }
            }
            .post-card__meta{
                @include mobile{
                    display: none;
                }
            }
            .post-card-bilioteca__meta{
                display: none;
            }
            .post-card__excerpt{
                display: none;
            }
            .post-card__category{
                @include mobile{
                    position: relative;
                    left: .5rem;
                    bottom: 2.3rem;
                }
            }
            .post-card-news__category{
                display: none;
            }
        }
    }

    .post-card__title{
        @include mobile{
            font-size: 1rem !important;
        }
    }
}

.blog{
    .archive__sidebar-desktop{
        @media(max-width: 782px){
            display: none;
        }
        .before-sidebar-default:nth-of-type(1){
            .wp-block-group{
                .wp-block-group{
                    margin-top: 0 !important;
                    margin-bottom: 2rem !important;
                }
            }
        }
    }
    .archive__sidebar-mobile{
        margin-top: -2rem;
        @media(min-width: 783px){
            display: none;
        }
    }
    .his-sub{
        padding-bottom: 1rem;

        .wp-block-group{
            padding-top: 4rem !important;
            padding-bottom: 0 !important;
            @include mobile{
                display: grid;
                grid-template-columns: .8fr 1.2fr;
                gap: 2rem;
                margin-bottom: 1.5rem !important;
                padding-top: 2rem !important;
            }
        }
        img{
            margin-bottom: 2rem;
            @include mobile{
                margin-bottom: 0;
            }
        }
        p:nth-of-type(1){
            font-size: size(20) !important;
            margin-bottom: 3rem;
            @include mobile{
                font-size: size(14) !important;
                text-align: end !important;
                margin-bottom: 0rem;
                margin-top: 1rem;
            }
        }
        a{
            text-decoration: none;
            border: 1px solid $color--high-pure;
            padding: .3rem 1.5rem;
            font-size: size(20) !important;
            text-transform: uppercase;
            @include mobile{
                display: flex;
               margin-left: auto;
               margin-right: auto;
                width: fit-content;
                font-size: size(14) !important;
            }

        }
    }
    .cpi-braskem{
        padding: 3rem 0;
        margin-top: 2rem;

        p{
            font-size: size(24) !important;
        }
    }
    .pagination{
        @include mobile{
            margin: 1rem auto 0;
        }
    }
}

//Archive de storymaps

.post-type-archive-map{
    #app{
        background: #5E0E04;
        background: linear-gradient(180deg,rgba(94, 14, 4, 1) 0%, rgba(39, 8, 6, 1) 100%);
        @include mobile{
            padding-bottom: size(70);
        }
    }
    .archive-title{
        background-color: transparent;
        @include mobile{
            padding-top: 2rem;
            padding-bottom: 4rem;
        }
    }
    .post-grid-latest-posts{
        background-color: transparent;
        @include mobile{
            margin-bottom: -3rem !important;
        }
        .post-card__title {
            font-size: size(32);
            text-transform: uppercase;
        }
    }
    .post-card-bilioteca__meta{
        display: none;
    }
    .post-grid-filters{
        .posts-grid__content{
            @include mobile{
                grid-template-columns: 1fr;
                gap: 1rem;
            }
            .post-card__title{
                a{
                    @include mobile{
                        font-size: size(20);
                    }
                }

            }
            .post-card-bilioteca__meta{
                display: none;
            }
        }
    }
    .archive__sidebar-desktop{
        @media(max-width: 782px){
            display: none;
        }
        .before-sidebar-default:nth-of-type(1){
            display: none;
        }
    }
    .post-grid-latest-posts{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 4rem;
    }

    .post-card__title {
        color: $color--high-pure !important;
    }

    .post-card__excerpt{
        color: $color--high-pure !important;
        font-size: size(24);
        max-width: 30rem;
        width: 100%;
        @include mobile{
            font-size: size(22);

        }
    }
    .post-card--horizontal{
        grid-template-columns: 2.03fr .97fr;
        gap: 2rem;
        @include mobile{
            grid-template-columns: 1fr;
            gap: 0rem;
        }
    }
    .post-card__meta{
        display: none;
    }

    .post-card__image{
        @include mobile{
            height: size(205) !important;
        }
        img{
            border-radius: 0;
            aspect-ratio: 16 / 9;
        }
    }
    .cpi-braskem{
        padding: 3rem 0;
        @include mobile{
            margin-top: 2rem;
            padding: 3rem 0 4.5rem;
        }

        p{
            font-size: size(24) !important;
        }
    }
    .pagination {
        padding-bottom: 6rem;
        @include mobile{
            padding-top: 2rem;
            padding-bottom: 0;
        }
    }
    .archive__sidebar-mobile{
        @media(min-width: 783px){
            display: none;
        }
        .before-sidebar-default:nth-of-type(1){
            display: none;
        }
    }
    .posts-grid__content .post-card__content {
        position: absolute;
    }
}

// archive de bilbioteca

.post-type-archive-biblioteca{
    .archive-title{
        margin-bottom: $margin--large;
    }
    .posts-grid__content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $gap--large;
        max-width: 100%;
        @include tablet{
            grid-template-columns: 1fr 1fr;
        }
        @include mobile{
            grid-template-columns: 1fr;

        }
        .post-card--vertical{
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
            padding: 1rem;
            .post-card__image{
                height: size(180);
                @include mobile{
                    height: size(160);
                }
                .post-card-bilioteca__meta{
                    position: relative;
                    color: $color--high-pure;
                    right: 1rem;
                    top: -2rem;
                    z-index: 10;
                    .post-card__date{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            .post-card__title{
                font-size: size(16);
                a{
                    font-size: size(16);
                    color: #111;
                }
            }
            .post-card__excerpt{
                font-size: size(14);
                font-weight: $font-weight--regular;
                color: #222;
            }
            .post-card__meta{
                order: 3;
                .post-card__date{
                    display: none;
                }
            }
        }
    }
}
