.posts-grid {
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: $gap--large;
        max-width: 60.625rem;
        margin-bottom: 55px;

        @include mobile {
            margin-top: 6rem;
        }

        .post-card {
            position: relative;

            &__image {
                position: relative;
                height: 230px;
                width: 100%;
                overflow: hidden;

                img {
                    border-radius: unset;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 89%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 11%, rgba(0, 0, 0, 0.85) 100%);
                    pointer-events: none;
                }
            }

            &__category {
                position: absolute;
                bottom: 15px;
                left: 15px;
                z-index: 10;
                display: flex;
                flex-wrap: wrap;
                gap: $gap--x-small;
                list-style: none;
                padding: 0;

                .tag {
                    background-color: $color--secondary-dark;
                    border: unset;
                    border-radius: unset;
                    color: $color--high-pure;
                    font-family: $font-family--heading;
                    font-size: $font-size--small;
                    font-style: normal;
                    font-weight: $font-weight--bold;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            &__content {
                position: static;
            }

            &__title {
                font-family: $font-family--heading;
                font-size: $font-size--large;
                font-weight: $font-weight--bold;
                line-height: normal;
                text-transform: uppercase;
            }

            &__meta {
                display: flex;
                gap: $gap--small;
                align-items: center;
                font-family: $font-family--primary;
                font-weight: $font-weight--bold;
                line-height: 120.24%;
            }

            &__author {
                span {
                    color: $color--low-dark;
                    font-size: $font-size--small;
                }
                color: $color--secondary-dark;
                font-size: $font-size--medium;
                letter-spacing: 0.16px;
            }

            &__date {
                font-size: $font-size--small;
                letter-spacing: 0.14px;
            }

            &__excerpt {
                line-height: 150%;
                letter-spacing: 0.16px;
                font-weight: $font-weight--bold;
            }

            &--horizontal {
                @media (min-width: 769px) {
                    display: grid;
                    grid-template-columns: 371px 1fr;
                    grid-template-rows: auto 1fr;
                    gap: 0 $gap--large;
                    align-items: start;

                    .post-card__image {
                        display: contents;

                        > a {
                            grid-column: 1 / 2;
                            grid-row: 1 / -1;
                            display: block;
                            height: 230px;
                            width: 100%;
                            overflow: hidden;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                height: 89%;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 11%, rgba(0, 0, 0, 0.85) 100%);
                                pointer-events: none;
                                max-width: 371px;
                            }
                        }

                        &::after {
                            display: none;
                        }
                    }

                    .post-card__category {
                        position: static;

                        .tag {
                            background-color: unset;
                            color: $color--secondary-pure;
                            padding: unset;
                        }
                    }
                }

                @include mobile {
                    grid-template-columns: 1fr;
                    gap: $gap--medium;
                }
            }
        }
    }

    &__content:has(.no-post) {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}