.pre-header {
    background-color: $color--primary-pure;

    &__content {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        min-height: 30px;

        .social-menu {
            gap: $gap--medium;
            color: $color--high-pure;
        }

    }
}
