.related-posts{
    margin-bottom: 75px;
    &__title{
        color: $color--primary-dark;
        font-weight: $font-weight--bold;
        margin-top: $margin--large;
        padding-bottom: $padding--x-large;
        padding-top: $padding--x-large;
        text-transform: uppercase;

        @include mobile {
            margin-top: unset;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gap--large;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: $gap--small;
        }
    }

    .post-card{
        position: relative;

        &__author, &__date, &__excerpt{
            display: none;
        }

        &__title{
            font-size: $font-size--medium;
            text-transform: uppercase;
        }

        &__image {
            position: relative;

            img {
                border-radius: unset;
                width: 100%;
                display: block;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 89%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 11%, rgba(0, 0, 0, 0.85) 100%);
                pointer-events: none;
            }
        }

        &__content {
            position: static;
        }

        &__category {
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 10;
            display: flex;
            flex-wrap: wrap;
            gap: $gap--x-small;
            list-style: none;
            padding: 0;

            .tag {
                background-color: $color--secondary-dark;
                max-width: 100%;
                border: unset;
                border-radius: unset;
                color: $color--high-pure;
                font-family: $font-family--heading;
                font-size: $font-size--small;
                font-style: normal;
                font-weight: $font-weight--bold;
                line-height: normal;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}

.single-biblioteca{
    .related-posts{
        border-top: 1px solid #000;
    }
    .related-posts__title{
        margin-top: 0;
    }
    .related-posts__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $gap--large;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            gap: $gap--small;
        }
        @include mobile {
            grid-template-columns: 1fr  ;
            gap: $gap--small;
        }
        .post-card{
            padding: size(14);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }
        .post-card__category{
            display: none;
        }
        .post-card__author{
            display: inherit;
            align-self: start;
            color: $color--secondary-dark;
            span{
                display: none;
            }
        }
        .post-card__excerpt{
            display: inherit;
            order: 2;
        }
        .post-card__meta{
            display: flex;
            align-items: center;
            gap: 1rem;
            order:3;
        }


    }
}
