.search-filters {
    padding-bottom: $padding--large;

    &__form {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        @include mobile {
            justify-content: center;
            gap: $gap--medium;
        }

        .custom-dropdown-wrapper {
            position: relative;
            width: 235px;
            height: 45px;
            background-color: $color--high-pure;

            .custom-dropdown-trigger {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0 15px 0 23px;
                background-color: transparent;
                border: none;
                text-align: left;
                cursor: pointer;
                font-family: $font-family--primary;
                font-size: $font-size--medium;
                font-weight: $font-weight--bold;
                line-height: normal;
                text-transform: uppercase;
                color: $color--low-pure;
                box-sizing: border-box;

                .custom-dropdown-icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    &.filter-icon {
                        background-image: url("/wp-content/themes/observatorio-caso-braskem/assets/images/icon-search-filter.svg");
                    }
                    &.organize-icon {
                        background-image: url("/wp-content/themes/observatorio-caso-braskem/assets/images/icon-organize-by.svg");
                    }
                }

                .custom-dropdown-label {
                    flex-grow: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .custom-dropdown-arrow {
                    width: 12px;
                    height: 6px;
                    background-image: url("/wp-content/themes/observatorio-caso-braskem/assets/images/filter-arrow-down.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-left: 10px;
                    transition: transform 0.2s ease-in-out;
                }

                &[aria-expanded="true"] .custom-dropdown-arrow {
                    transform: rotate(180deg);
                }
            }

            .custom-dropdown-options {
                position: absolute;
                top: calc(100% + 2px);
                left: 0;
                right: 0;
                background-color: $color--low-pure;
                list-style: none;
                margin: 0;
                padding: 0 47px;
                z-index: 100;
                max-height: 250px;
                overflow-y: auto;

                li {
                    padding: 15px 0;
                    color: $color--high-light;
                    background-color: $color--low-pure;
                    cursor: pointer;
                    font-family: $font-family--primary;
                    font-size: $font-size--medium;
                    font-weight: $font-weight--bold;
                    text-transform: uppercase;
                    border-bottom: 0.5px solid $color--high-light;
                    transition: background-color 0.15s ease-in-out;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }

    }
}
