body.search,
body.archive.category,
body.archive.taxonomy {
    background: url('#{$path--assets}/images/bg-white.svg');
    background-repeat:  repeat;
    background-position: 0 400px;
    background-size: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
        width: 100%;
    }
}
