.share-links {
    display: flex;
    gap: $gap--small;
    font-size: $font-size--small;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    gap: 2rem;
    margin-left: 2rem;

   .twitter-btn{
    background-color: $color--primary-pure;
    padding: .5rem .4rem;
    border-radius: $border-radius--round;
    width: fit-content;
   }
}