.share-links {
    display: flex;
    gap: $gap--small;
    font-size: $font-size--small;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    gap: 2rem;
    left: 2%;
    @media(min-width: 1400px){
        left: 5%;
    }
    @media(min-width: 1600px){
        left: 10%;
    }

    @media(min-width: 1750px){
        left: 12%;
    }

    @media(min-width: 1850px){
        left: 15%;
    }
    @media(min-width: 1950px){
        left: 20%;
    }

    @media(max-width: 1320px){
        display: none;
    }


   .twitter-btn{
    background-color: $color--primary-pure;
    padding: .5rem .4rem;
    border-radius: $border-radius--round;
    width: fit-content;
   }
}