.social-menu {
    align-items: center;
    display: flex;
    gap: $gap--small;
    justify-content: center;

    &__icon {

        svg {
            height: 1em;
            width: 1em;
        }
    }
}