.stories-mosaic-block-inspector-controls {
    // Fixed on: https://github.com/WordPress/gutenberg/pull/41768/files
    .components-panel__row {
        .components-base-control {
            width: 100%;
        }
    }
}
.block-editor-block-list__block{
    .stories-mosaic-block{
        border-radius: 8px;

        .stories-mosaic-block__heading h2:empty {
            display: none !important;
        }

        .stories-mosaic-block__slides{
            :nth-child(n+3){
                display: none;
            }

            .slide{
                a{
                    color: #333;
                    text-decoration: none;
                    text-transform: uppercase;
                    .post-meta{
                        font-size: 10px;
                        .post-meta--terms{
                            :nth-child(n+3){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
