.ws-block{
    overflow: hidden;

}
.web-stories-list{
    &__carousel{
        min-width: 100% !important;
        max-width: unset !important;
        width: 100% !important;
        display: block !important;
        // overflow-x: visible !important;
    }
    &__inner-wrapper {
        max-width: 100% !important;
    }
    &__story{
        max-width: unset !important;
        min-width: 250px !important;
        overflow: visible !important;
        aspect-ratio: 1 / 2 !important ;
        height: auto;
        &-poster{
            width: 100%;
            aspect-ratio: 1 / 2 !important ;
            img{
                border-radius: 18px;
            }
            @include mobile{
                height: unset;
            }
        }
        &-content-overlay{
            display: none;
        }
    }
    &__story-poster::after{
        background: transparent !important;

    }
    .glider-track{
        display: flex !important;
    }
    .glider-next, .glider-prev{
        background-image: url('#{$path--assets}/images/slider-arrow.svg') !important;
        background-color: $color--high-pure !important;
        height: 33px !important;
        width: 33px !important;
        // display: block !important;
        position: absolute;
        z-index: 10;
        &:hover, &:focus{
            filter: none !important;
        }
        &.disabled{
            opacity: 0.6 !important;
        }
        top: 110% !important;
    }
    .glider-next{
        right: 40% !important;
        @include mobile{
            right: 10% !important;
        }
    }
    .glider-prev{
        left: 40% !important;
        @include mobile{
            left: 10% !important;
        }
    }
    .glider-dots, .dots{
        display: flex !important;
        width: fit-content;
        border-radius: 7px;
        position: relative;
        top: 4rem;
        background-color: transparent;
        margin-inline: auto;
        z-index: 9;
        .glider-dot, .dot{
            cursor: pointer;
            display: block;
            height: 12px;
            margin: 7px;
            width: 12px;
            border-radius: 999px;
            background-color: #D9D9D9;
            &.active{
                background-color: $color--secondary-pure;
            }
        }
    }

    .dots:not(.glider-dots){
        margin-inline: auto;
        margin-bottom: 5px;
    }
}

.web-stories-list.is-carousel .web-stories-list__carousel::scroll-button(left), .web-stories-list__carousel::scroll-button(right){
    top: 106% !important;
    background-color: transparent !important;
    content: url('#{$path--assets}/images/arrow-right.svg') !important;

    &:hover{
        content: url('#{$path--assets}/images/arrow-right-dark.svg') !important;
        filter: none !important;
    }

    &:disabled{
        opacity: 0.5 !important;
    }
}

.web-stories-list.is-carousel .web-stories-list__carousel::scroll-button(left){
    left: 40% !important;
    @include mobile{
        left: 5% !important;
    }
}
.web-stories-list.is-carousel .web-stories-list__carousel::scroll-button(right){
    right: 40% !important;
    @include mobile{
        right: 5% !important;
    }
}
