.ctl-wrapper{
    max-width: unset !important;
    padding-inline: $padding--large;
    @include mobile{
        padding-inline: $padding--x-small;
    }
    &-inside{
        overflow: visible !important;

        .swiper-wrapper{
            @include mobile{
                height: 500px !important;

            }
        }
    }
    .ctl-horizontal-timeline{
        @include mobile{
            height: 500px !important;
        }
        .ctl-h-line{
            background: url('#{$path--assets}/images/bg-tl-horizontal.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: transparent !important;
            height: $margin--large !important;
            top: 50% !important;
            @include mobile{
                background: url('#{$path--assets}/images/bg-tl-mobile.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        .ctl-icondot {
            position: absolute !important;
            top: 61% !important;
            background-color: transparent !important;
            background: url('#{$path--assets}/images/icon-dot-tl.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: contain !important;
            width: 2rem !important;
            height: 2rem !important;
            order: 2;
            @include mobile{
                top: 50% !important ;
            }
        }

        .ctl-labels{
            display: none !important;
        }

        .ctl-story{
            .ctl-content{
                justify-content: left !important;
                // bottom: 20rem;
                // margin-top: -75%;
                overflow: visible !important;
                //flex-wrap: nowrap !important;

                .ctl-title, .ctl-description{
                    font-family: $font-family--secondary !important;
                    font-size: 20px;
                    width: fit-content !important;
                    @include mobile{
                        padding: $padding--small $padding--medium !important;
                    }
                }
                .ctl-media{
                    margin-bottom: 3rem;
                    width: 100% !important;
                    margin-inline: 0 !important;
                    max-height: 255px !important;
                    aspect-ratio: 7 / 5;
                    padding: 0 !important;
                }
            }
            &.even{
                //flex-flow: column-reverse;
                .ctl-content{
                    // margin-top: -65%;
                    // bottom: 40%;
                    .ctl-media{
                        order: 2 !important;
                        // position: absolute;
                        // top: 125%;
                    }
                    .ctl-title{
                        order: 0 !important;
                    }
                    .ctl-description{
                        order: 1 !important;
                        margin-bottom: 4rem !important;
                    }
                }
                .ctl-icondot{
                    top: 33% !important;
                    @include mobile{
                        top: 42% !important;
                    }
                }

            }
        }
        .ctl-button-next, .ctl-button-prev{
            border: none !important;
            background-color: $color--high-light !important;
            top: 22% !important;
        }
    }
}

.ctl-wrapper .cool-timeline-wrapper:not(.ctl-one-sided, .ctl-compact-wrapper) .ctl-story.even{
    margin-top: 0 !important;
    flex-flow: column;
    bottom: 10%;
    @include mobile{
        bottom: 18%;
    }
}
.ctl-wrapper .cool-timeline-wrapper:not(.ctl-one-sided, .ctl-compact-wrapper) .ctl-story.odd{
    margin-top: 0 !important;
    flex-flow: column;
    bottom: 30%;
    @include mobile{
        bottom: 20%;
    }
}
.ctl-wrapper .ctl-horizontal-timeline:where(.ctl-default, .ctl-design-1) :where(.ctl-media, .swiper-wrapper.swiper-slide) img{
    margin: 0 !important;
    max-height: unset !important;
    min-width: 100% !important;
    object-fit: cover !important;
    padding: 0 !important;
}

.ctl-wrapper .cool-timeline-wrapper:not(.dark-skin) .ctl-media img{
    padding-inline: 0 !important;
}