// Bloco da home
.ctl-wrapper{
    max-width: unset !important;
    padding-inline: $padding--large;
    @include mobile{
        padding-inline: $padding--x-small;
    }
    &-inside{
        overflow: visible !important;

        .swiper-wrapper{
            @include mobile{
                height: 500px !important;

            }
        }
    }
    .ctl-horizontal-timeline{
        @include mobile{
            height: 500px !important;
            margin-inline: 0 !important;
            width: 100% !important ;
        }
        .ctl-h-line{
            background: url('#{$path--assets}/images/bg-tl-horizontal.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: transparent !important;
            height: $margin--large !important;
            top: 50% !important;
            @media (max-width: 1440px) {
                background-size: contain;
            }
            @include mobile{
                background: url('#{$path--assets}/images/bg-tl-mobile.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
        .ctl-icondot {
            position: absolute !important;
            top: 60% !important;
            background-color: transparent !important;
            background: url('#{$path--assets}/images/icon-dot-tl.svg') !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: contain !important;
            width: 2rem !important;
            height: 2rem !important;
            order: 2;
            @media (max-width: 1439px) {
                top: 60% !important;
            }
            @include mobile{
                top: 46% !important ;
            }
            @media (max-width: 335px) {
                top: 43% !important ;
            }
            @media (max-width: 360px) {
                top: 52% !important ;
            }
        }

        .ctl-labels{
            display: none !important;
        }

        .ctl-story{
            width: 385px !important;
            @include mobile{
                width: 100% !important;
                height: 450px !important;
            }
            .ctl-content{
                justify-content: left !important;
                overflow: visible !important;

                .ctl-title, .ctl-description{
                    font-family: $font-family--secondary !important;
                    font-size: 20px;
                    width: fit-content !important;
                    @include mobile{
                        padding: $padding--small $padding--medium !important;
                    }
                    >p{
                        font-size: 20px;
                    }
                }
                .ctl-title{
                    padding-top: 0 !important;
                    @include mobile{
                        margin-top: 12px;
                    }
                }
                .ctl-media{
                    margin-bottom: 5rem;
                    width: 100% !important;
                    margin-inline: 0 !important;
                    max-height: 255px !important;
                    aspect-ratio: 7 / 5;
                    @media (max-width: 1439px) {
                        margin-bottom: 3.3rem;
                    }
                    @media (min-width: 360px) and (max-width: 768px) {
                        width: 90% !important ;
                    }
                }
            }
            &.even{
                .ctl-content{

                    .ctl-media{
                        order: 2 !important;
                        padding-top: 0 !important;
                        margin-bottom: 0;
                        @include mobile{
                            margin-top: $margin--medium;
                        }
                    }
                    .ctl-title{
                        order: 0 !important;
                        @include mobile{
                            margin-top: 0;
                            padding-top: 0 !important;
                        }
                    }
                    .ctl-description{
                        order: 1 !important;
                        margin-bottom: 5rem !important;
                        @media (max-width: 1439px) {
                            margin-bottom: 3.3rem;
                        }
                        @include mobile{
                            margin-bottom: 3rem !important;
                        }
                    }
                }
                .ctl-icondot{
                    top: 38% !important;
                    @media (max-width: 1439px) {
                        top: 40% !important;
                    }
                    @include mobile{
                        top: 43% !important;
                    }
                    @media (max-width: 335px) {
                        top: 48% !important;
                    }
                    @media (max-width: 360px) {
                        top: 52% !important ;
                    }
                }

            }
        }
        .ctl-button-next, .ctl-button-prev{
            border: none !important;
            background-color: $color--high-light !important;
            top: 23% !important;

            @include mobile{
                top: unset !important;
                bottom: 21%;
            }
        }
        .ctl-button-next{
            @include mobile{
                right: 0 !important;
            }
        }
        .ctl-button-prev{
            @include mobile{
                left: 0 !important;
            }
        }
    }
}

.ctl-wrapper .cool-timeline-wrapper:not(.ctl-one-sided, .ctl-compact-wrapper) .ctl-story.even{
    margin-top: 0 !important;
    flex-flow: column;
    bottom: 15%;
    @media (max-width: 1439px) {
        bottom: 17%;
    }
    @include mobile{
        bottom: 18%;
    }
    @media (max-width: 360px) {
        bottom: 25%;
    }

}
.ctl-wrapper .cool-timeline-wrapper:not(.ctl-one-sided, .ctl-compact-wrapper) .ctl-story.odd{
    margin-top: 0 !important;
    flex-flow: column;
    bottom: 37%;
    @media (max-width: 1439px) {
        bottom: 33%;
    }
    @include mobile{
        bottom: 24%;
    }
    @media (max-width: 335px) {
        bottom: 22%;
    }
}
.ctl-wrapper .ctl-horizontal-timeline:where(.ctl-default, .ctl-design-1) :where(.ctl-media, .swiper-wrapper.swiper-slide) img{
    margin: 0 !important;
    max-height: unset !important;
    min-width: 100% !important;
    object-fit: cover !important;
    padding: 0 !important;
}

.ctl-wrapper .cool-timeline-wrapper:not(.dark-skin) .ctl-media img{
    padding-inline: 0 !important;
    padding-top: 0 !important;
}

.ctl-wrapper{
    margin-bottom: -5rem !important;
}

// Página Linha do tempo
.page-linha-do-tempo{
    background-color:$color--primary-dark ;
    > #app{
        background: url('#{$path--assets}/images/home/bg-home.svg');
        background-repeat: repeat;
        background-position: top;
        background-size: 100%;
        @include mobile{
            padding-bottom: size(70);
        }

    }
    .who-we-are{
    background: linear-gradient(0deg,rgba(94, 14, 4, 0) 0%, rgba(94, 14, 4, 1) 100%) !important;
        .container{
            @include mobile {
                padding-bottom: 3rem !important;
            }
        }
    }
    .post-header__title{
        margin-top: 3rem;
        @include mobile{
            margin-top: 1.5rem;

        }
    }
    .post-content {
        margin-inline: initial;
        max-width: size(1200);
        margin-inline: auto;
        @include mobile{
            padding-top: 1rem;
        }
        .sharedaddy,
        .timeline-year,
        .ctl-navigation-items,
        .ctl-arrow,
        .story-date{
            display: none !important;
        }
        .ctl-wrapper,
        .cool-timeline-wrapper{
            padding: 0;
        }

        .ctl-wrapper{
            @include mobile {
                margin-bottom: 0 !important;
            }
        }

        .ctl-labels{
            @media(max-width: 767px){
                margin: 0px 0px 0px 0px !important;
            }
        }
        .ctl-start, .ctl-end{
            background-color: transparent !important;
        }
        .ctl-timeline{
            &::before{
                content: url('#{$path--assets}/images/rachadura-time-line.png') !important;
                border: none !important;
                position: relative;
                left: calc(45% - var(--ctw-line-width) / 2) !important;
                background-color: transparent !important;
                @media(max-width: 1199px){
                    left: 1rem !important;
                    content: url('#{$path--assets}/images/rachadura-mobile.png') !important;
                }
            }
        }
        .ctl-story{
            width: 100% !important;
            margin-bottom: 5rem !important;
            @media(max-width: 1199px){

                margin-bottom: 0rem !important;
                padding-left: 6rem !important;
                float: left !important;

            }
            @include mobile{

                margin-bottom: 0rem !important;
                padding-left: 4rem !important;
            }
            .ctl-content{
                justify-content: space-between;
                position: relative;
                @media(max-width: 1199px){
                    flex-direction: column;
                }

                .ctl-media{
                    max-width: size(430) !important;
                    width: 100% !important;
                }
                .ctl-title{
                    background: transparent !important;
                    position: absolute;
                    font-family: "Sofia Sans Condensed", sans-serif !important;
                    font-size: 2rem !important;
                    font-weight: 600;
                    line-height: 120.24%; /* 38.477px */
                    letter-spacing: 0.32px;
                    @media(max-width: 1199px){
                        padding-left: 0;
                        font-size: size(24) !important;
                        font-weight: 700 !important;

                    }
                }
                .ctl-description{
                    max-width: size(500) !important;
                    width: 100% !important;
                    padding-top: 3rem;
                    padding-left: 0;
                    padding-right: 0;
                    @include mobile {
                        padding-top: 1rem;
                    }
                    p{
                        font-size: size(32) !important;
                        font-weight: 600 !important;
                        letter-spacing: 0.32px;
                        font-family: "Sofia Sans Condensed", sans-serif !important;
                        @media(max-width: 1199px){
                            font-size: size(20) !important;
                            font-weight: 700 !important;
                        }
                    }
                }
            }
            .ctl-icondot{
                background-color: transparent !important;
                background: url('#{$path--assets}/images/icon-dot-tl.svg') !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: contain !important;
                width: 2rem !important;
                height: 2rem !important;
                left: 47% !important;
                top: 50% !important;
                @media (max-width: 1199px){
                    left: 2% !important;
                    top: 2% !important;
                }
            }
        }

        .ctl-wrapper .ctl-vertical-wrapper .ctl-inner-line, .ctl-wrapper .ctl-vertical-wrapper .ctl-timeline:before{
            @media(max-width: 767px){
                left: -1rem !important;
            }
        }

        // filhos ímpares
        .ctl-timeline > .ctl-story:nth-of-type(odd) {
            .ctl-content{
                .ctl-media{
                    margin-top: -6rem;
                    margin-left: size(67);
                    @media(max-width: 1199px){
                        margin-top: 0;
                        margin-left: 0;
                    }

                }
                .ctl-title{
                    left: size(651);
                    @media(max-width: 1199px){
                        left: 0;
                        position: relative;
                    }
                }
            }
        }

        // filhos pares
        .ctl-timeline > .ctl-story:nth-of-type(even) {

            .ctl-content{
                flex-direction: row-reverse;
                @media(max-width: 1199px){
                    flex-direction: column;
                }
                .ctl-media{
                    margin-right: size(72);
                    @media(max-width: 1199px){
                        margin-right: 0;
                    }
                }
                .ctl-title{
                    left: size(305);
                    @media(max-width: 1199px){
                        left: 0;
                        position: relative;
                    }
                }
                .ctl-description{
                    padding-top: 3rem;
                    text-align: right;
                    @include mobile{
                        padding-top: 1rem;
                        text-align: left;
                    }
                }
            }
        }
    }
}